* {
    font-family: 'Lato', sans-serif;
  }
  
body{
    background-color: black;
}
.container {
    margin:0;
    max-width: 100%;
  }

.bg-black{
    background-color: black;
    min-height: 150px;
}

.logo{
    max-width:125px;
}